<!--Uses variables: book-->

<tr>
  <td>
    {% set book_url = "http://covers.openlibrary.org/b/isbn/" + book.isbn 
                      + "-S.jpg" + "?default=false" %}
    <a href="{{ url_for('book', isbn=book.isbn) }}">
      {% if book_url == 404 %}
        <img src="../static/images/error-bubble.png" style="width: 40px;"/>
      {% else %}
        <!--img src="../static/images/error-bubble.png"/-->
        <img src="{{ book_url }}">
      {% endif %}
    </a>
  </td>    
  <td>
    <a href="{{ url_for('book', isbn=book.isbn) }}">
      {{ book.title }}
    </a>
  </td>
  <td>
    <a href="{{ url_for('book', isbn=book.isbn) }}">
      {{ book.author }}
    </a>
  </td>
  <td>
    <a href="{{ url_for('book', isbn=book.isbn) }}">
      {{ book.isbn }}
    </a>
  </td>
</tr>
