<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.rating.label }}
        <div class="rating">
            {% for star in form.rating | reverse %}   
                {{ star }}  
                {{ star.label(class="radio-inline") }}
            {% endfor %}
        </div>
        {% for error in form.rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div class="clear"></div>
    <br>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(cols=50, rows=4) }}<br>
        {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}     
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
