{% extends "base.html" %}

{% block content %}
  {% if current_user.is_anonymous %}
  <h1> Welcome to bookBook! Please login to search.</h1>
  {% else %}
  <h1>Hi, {{ current_user.username }}, let's look for a book together!</h1>

  <br>
  
  <input type="text" list="booklist" placeholder="Enter book title, ISBN, or author">
  <datalist id="booklist">
    {% for book in books %}
      <option value="{{ book.title }}">{{ book.author }}</option>
    {% endfor %}
  </datalist>
  {% endif %}
{% endblock %}
