{% extends "base.html" %}

{% block content %}
  <div class="index-all">
    {% if current_user.is_anonymous %}
    <h1 class="welcome"> Welcome to bookBook! Please login to search.</h1>
    {% else %}
    <h1 class="welcome">Hi, {{ current_user.username }}, let's look for a book together!</h1>
    <h2 class="welcome">Hi, {{ current_user.username }}, let's look for a book together!</h2>
    {% endif %}
    <br>
    <div class="index">
      <form method="post" action="" class="form-inline" name="search">
        <input id="Search" name="Search" list="book-search" class="form-control input-lg" type="text" placeholder="Enter the title, ISBN, or author" title="Search"> 
        <span><button class="fa fa-search" aria-hidden="true"></button></span>
      </form>
      {% if books %}
        <hr>
        <h3 id="did-you-mean">Did you mean...</h3>
        <table id="bookTable" class="display" style="width: 100%;">
          <thead>
            <tr>
              <td>book</td>
              <td>title</td>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
              {% include '_bookTeaser.html' %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
<script>

$(document).ready( function () {
    $('#bookTable').DataTable();
} );

</script>
{% endblock %}
