{% extends "base.html" %}

{% block content %}
  {% if current_user.is_anonymous %}
  <h1> Welcome to bookBook! Please login to search.</h1>
  {% else %}
  <h1>Hi, {{ current_user.username }}, let's look for a book together!</h1>
  <br>
  <div class="form-group">
  </div>
    <select class="form-control" name="book_id">
      {% for book in books %}
        <option value="{{ book.id }}">{{ book.title }} by {{ book.author }}</option> 
      {% endfor %}
    </select>
  </div>
  <!-- Enter book title, book ISBN, or book author-->  
  {% endif %}
{% endblock %}
